body,
code {
    font-weight: 400;
}

.image img,
img {
    height: auto;
}

.card,
img {
    max-width: 100%;
}

.card-content,
.card-footer,
.card-header {
    background-color: transparent;
}

@-webkit-keyframes spinAround {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spinAround {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.content:not(:last-child),
.list:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

html {
    box-sizing: border-box;
    background-color: #1f2424;
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
:after,
:before {
    box-sizing: inherit;
}

footer,
header,
section {
    display: block;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
        Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
}

code {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: Inconsolata, Consolas, Monaco, monospace;
    color: #ed6d5f;
    font-size: 1.075em;
    background-color: #282f2f;
}

a {
    color: #f9b938e4;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

a strong {
    color: currentColor;
}

a:hover {
    color: #e98b39;
}

strong {
    color: #f2f2f2;
    font-weight: 700;
}

.has-text-centered {
    text-align: center !important;
}

.has-text-primary {
    color: #375a7f !important;
}

a.has-text-primary:focus,
a.has-text-primary:hover {
    color: #28415b !important;
}

.has-text-link {
    color: #dcaa78 !important;
}

a.has-text-link:focus,
a.has-text-link:hover {
    color: #f0c8a0 !important;
}

.has-text-success {
    color: #2ecc71 !important;
}

a.has-text-success:focus,
a.has-text-success:hover {
    color: #25a25a !important;
}

.is-family-primary,
.is-family-secondary {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
        Helvetica, Arial, sans-serif !important;
}

.is-family-code {
    font-family: Inconsolata, Consolas, Monaco, monospace !important;
}

.content p:not(:last-child) {
    margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #f2f2f2;
    font-weight: 600;
    line-height: 1.125;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
    margin-top: 1em;
}

.content h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
    margin-top: 1.1428em;
}

.content h3 {
    font-size: 1.5em;
    margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
    margin-top: 1.3333em;
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
}

.content h5 {
    font-size: 1.125em;
    margin-bottom: 0.8888em;
}

.content h6 {
    font-size: 1em;
    margin-bottom: 1em;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.card-image,
.image {
    display: block;
    position: relative;
}

.image img {
    display: block;
    width: 100%;
}

.image.is-1by1 {
    padding-top: 100%;
}

.image.is-5by4 {
    padding-top: 80%;
}

.image.is-4by3 {
    padding-top: 75%;
}

.image.is-3by2 {
    padding-top: 66.6666%;
}

.image.is-5by3 {
    padding-top: 60%;
}

.image.is-16by9 {
    padding-top: 56.25%;
}

.image.is-2by1 {
    padding-top: 50%;
}

.image.is-3by1 {
    padding-top: 33.3333%;
}

.image.is-4by5 {
    padding-top: 125%;
}

.image.is-3by4 {
    padding-top: 133.3333%;
}

.image.is-2by3 {
    padding-top: 150%;
}

.image.is-3by5 {
    padding-top: 166.6666%;
}

.image.is-9by16 {
    padding-top: 177.7777%;
}

.image.is-1by2 {
    padding-top: 200%;
}

.image.is-1by3 {
    padding-top: 300%;
}

.image.is-16x16 {
    height: 16px;
    width: 16px;
}

.image.is-24x24 {
    height: 24px;
    width: 24px;
}

.image.is-32x32 {
    height: 32px;
    width: 32px;
}

.image.is-48x48 {
    height: 48px;
    width: 48px;
}

.image.is-64x64 {
    height: 64px;
    width: 64px;
}

.image.is-96x96 {
    height: 96px;
    width: 96px;
}

.image.is-128x128 {
    height: 128px;
    width: 128px;
}

@-webkit-keyframes moveIndeterminate {
    0% {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}

@keyframes moveIndeterminate {
    0% {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}

.title {
    word-break: break-word;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.125;
}

.title strong {
    color: inherit;
    font-weight: inherit;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.25rem;
}

.title.is-1 {
    font-size: 3rem;
}

.title.is-2 {
    font-size: 2.5rem;
}

.title.is-3 {
    font-size: 2rem;
}

.title.is-4 {
    font-size: 1.5rem;
}

.title.is-5 {
    font-size: 1.25rem;
}

.title.is-6 {
    font-size: 15px;
}

.title.is-7 {
    font-size: 0.85em;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

.field-body .field .field {
    margin-bottom: 0;
}

@media print,
screen and (min-width: 769px) {
    .field-body {
        display: flex;
        flex-basis: 0;
        flex-grow: 5;
        flex-shrink: 1;
    }

    .field-body .field {
        margin-bottom: 0;
    }

    .field-body>.field {
        flex-shrink: 1;
    }

    .field-body>.field:not(.is-narrow) {
        flex-grow: 1;
    }

    .field-body>.field:not(:last-child) {
        margin-right: 0.75rem;
    }
}

.card {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #fff;
    position: relative;
}

.card-header {
    align-items: stretch;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    display: flex;
}

.card-header-title {
    align-items: center;
    color: #f2f2f2;
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem;
    font-size: clamp(15px, 2.5vw, 18px);
}

.card-header-icon,
.card-header-title.is-centered {
    justify-content: center;
}

.card-header-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0.75rem;
}

.card-content {
    padding: 1.5rem;
}

.card-footer {
    border-top: 1px solid #5e6d6f;
    align-items: stretch;
    display: flex;
}

.list {
    background-color: #fff;
    border-radius: 0.4em;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.card,
.footer {
    background-color: #282f2f;
}

.section {
    padding: 3rem 1.5rem;
}

.footer {
    padding: 2rem 1rem;
}

h6 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.card {
    margin: 1em 0;
    box-shadow: none;
    border: 2px solid #343c3d;
    border-radius: 0.4em;
}

.card .card-image img {
    border-radius: 0.4em 0.4em 0 0;
    width: 100%;
}

.card .card-header {
    box-shadow: none;
    border-radius: 0.4em 0.4em 0 0;
}

.card .card-footer,
.card .card-header {
    background-color: rgba(18, 18, 18, 0.2);
}

.card .card-footer {
    border-width: 2px;
    border-color: #343c3d;
}

@media screen and (min-width: 768px) {
    .posts {
        margin: 0 auto;
        max-width: 800px;
    }
}

.author .image {
    display: inline-block;
    width: 100%;
    max-width: 350px;
}

pre {
    background: #1f2424;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}